
{# src/Dev/SkillsBundle/Resources/views/Article/index.html.twig #}

{% extends "DevSkillsBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block devskills_body %}

 <h1>Hello {{Dev}} !</h1>

        <p>
          Hello  {{Dev}}, thinks for your tutorial  
        </p>

{% endblock %}


